@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #020617;
  /* slate-950 */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}